body{
	background-color: #61122f;
	color: #fff;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}

#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
.navbar-default .navbar-brand{
	font-size: 2em;
	color: #d64848;
}

.navbar-default .navbar-collapse{
	border: none;
}
#nav-list a:active{

	border: none;
	border-width: 0px;
}
#nav-list a{
	text-align: center;
}

#nav-list a:hover{
	background: salmon;
}
.glyphicon{
	margin-right: 5px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid #61122f;
	background: #c73939;
}

.section-background-color{
	background-color: #f29c54;

}

#chicken{
	margin-right: 10px;
}
#beef{
	margin-right: 10px;
}

/*** desktop ***/
@media (min-width: 1200px) {
	.col-lg-4{
		width: 32.33333%;
	}
}

/*** tablte ***/
@media (min-width: 767px) and (max-width: 1199px) {
	#chicken{
		margin-right: 4%;
	}
	#beef{
		margin-right: 0px;
	}

	#sushi{
		margin-top: 10px;
	}
	.col-md-6{
		width: 48%;
	}
	.internal-link{
		margin-top: 10px;
		text-transform: uppercase;
	}
	 a:hover{
	 	color: white;
	}
}




/*** phone ***/
@media (max-width: 767px) {
	h1{
		margin-left: 25px;
		display: inline-block;
		margin-top: 10px;
	}
	#company-name{
		font-size: 2em;
		color: white;
	}
	.navbar-default .navbar-collapse{
		border: none;
		background-color: #29c65d;
        color: white;
	}


	#beef{
		margin: 10px 0px;
	}
	.internal-link{
		margin-top: 10px;
		text-transform: uppercase;
	}
	 a:hover{
	 	color: white;
	}
}